@font-face {
    font-family: 'Myriad Pro';
    src: url('fonts/subset-MyriadPro-Regular.eot');
    src: url('fonts/subset-MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-MyriadPro-Regular.woff2') format('woff2'),
        url('fonts/subset-MyriadPro-Regular.woff') format('woff'),
        url('fonts/subset-MyriadPro-Regular.ttf') format('truetype'),
        url('fonts/subset-MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/subset-SourceSansPro-Regular.eot');
    src: url('fonts/subset-SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-SourceSansPro-Regular.woff2') format('woff2'),
        url('fonts/subset-SourceSansPro-Regular.woff') format('woff'),
        url('fonts/subset-SourceSansPro-Regular.ttf') format('truetype'),
        url('fonts/subset-SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}
body
{
    margin: 0;
    padding: 0;

}
.header
{
    padding-left: 141px;
    padding-right: 162px;
    padding-top: 31px;
    padding-bottom: 27px;
}
.quotes
{
    border: 1px solid #5094f2;
    border-radius: 50%;
    height: 44px;
    width: 44px;
    background-color: #5094f2;
    background-image: url(images/“.png);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin-right: 15px;
    float: left;
}
.prechu
{
    display: inline-block;
    font-size: 42px;
    font-family: "Myriad Pro";
    float: left;  
    font-weight: 400;
}
.nav
{
    display: inline-block;
    float: right;
}
.list
{
    list-style: none;
}
.home
{
    margin-left: 0;
}
.item
{
    display: inline;
    margin-left: 24px;
}
.link
{
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 0.2px;
    font-family: "Myriad Pro";
    color: #6c6c6c;
}
.link:hover
{
    padding-bottom: 39px;
    border-bottom: 5px solid #5094f2;
}
.start-of-content
{
    background-image: url(images/dsfsdfsdfds.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.container
{
    width: 1300px;
}
.iphone
{
    margin-top: 38px;
    margin-left: 177px;
    margin-bottom: 16px;
    margin-right: 116px;
    float: left;
}
.text-p
{
    float: right;
    margin-top: 153px;
    margin-right: 232px;
    line-height: 44.42px;
    font-size: 26px;
    font-family: "Myriad Pro";
    color: #ffffff;
    font-weight: 400;
}
.subtext
{
    font-size: 42px;
    font-weight: 400;
}
.sign-up
{
    text-decoration: none;
    background-color: #5094f2;
    margin-left: 60px;
    border-radius: 2%;
    background-image: url(images/Shape_2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-x:12px;
    padding: 9px 11px 9px 11px;
    color: #ffffff;
    font-size: 22px;
    float: left;
    text-align: center;
    vertical-align: middle;
    padding-left: 44px;
}
.cards
{
    margin-top: 57px;
    margin-left: 143px;
    margin-right: 143px;
    text-align: center;
}
.card
{
   width: 220px;
   display: inline-block;
   margin-left: 160px;
}
.first
{
    margin-left: 0;
}
.card-icon
{
    margin:0 auto;
    width: 186px;
    height: 186px;
    border-radius: 50%;
    background-color: #5094f2;
    background-image: url(images/Shape_3.png);
    background-repeat: no-repeat;
    background-position: center;
}
.second-icon
{
    background-color: #d94748;
    background-image: url(images/Shape_6.png);
    background-repeat: no-repeat;
    background-position: center;
}
.third-icon
{
    background-color: #ebbb11;
    background-image: url(images/Shape_5.png);
    background-repeat: no-repeat;
    background-position: center;
}
.card-title
{
     text-align: center;
     font-family: "Myriad Pro";
     color: #5094f2;
     font-size: 20px;
     font-weight: 400;
}
.card-content
{
    text-align: center;
    font-family: "Myriad Pro";
    font-size: 14px;
    color: #909090;
}
.end-of-content
{
    margin-top: 94px;
    margin-left: 189px;
}
.for-cart
{
    text-align: center;
    display: inline-block;
    margin-right: 86px;
}
.shop-cart
{
    color: #6f7173;
    font-family: "Myriad Pro";
    font-size: 42px;
    line-height: 44.42px;
    font-weight: 400;
}
.for-cart-content
{
    display: inline-block;
    width: 451px;
}
.title-of-p
{
    color: #6f7173;
    font-family: "Myriad Pro";
    font-size: 26px;
    line-height: 44.42px;
    font-weight: 400;
}
.cart-content
{
    font-size: 15px;
    font-family: "Myriad Pro";
    font-weight: 400;
    line-height: 36px;
    color: #909090;
}
.footer
{
    margin-top: 63px;
    border-top: 1px solid #e5e5e5;
    padding-top: 34px;
    padding-bottom: 45px;
}
.footer-text
{
    text-align: center;
    color: #909090;
    font-weight: 400;
    font-family: "Myriad Pro";
    font-size: 15px;
    line-height: 36px;
}
.clearfix
{
    clear: both;
}